*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    font-size: 16px; 
    background-color: #e1cdb2;
    font-family: cursive;
}
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

/*----------------------------------------
 * ANIMACIONES
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/*CLASES UTILITARIAS*/

.btn{
    background-color: darkcyan;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

/* FIN CLASES UTILITARIAS*/


/*INICIA EL HEADER*/
.header{
    background-color: darkcyan;
    height: 22vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header--gradiente{
    background: rgb(22,98,166);
    background: linear-gradient(0deg, rgba(22,98,166,1) 41%, rgba(0,212,255,1) 100%);
}
      
.header__logo{
    height: 140px;
    margin-left: 2rem;
    position: relative;
    top: 2px;
    left: 56px;
}


.header__nav{
    text-align: center;
    margin-right: 3rem;
}


.header__item{
    display: inline-block;
    padding: 1rem;
}

.header__anchor{
    
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/*FINALIZA EL HEADER*/


/*INICIA EL MAIN DEL INDEX*/

.hero {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%; 
}

.hero__wraper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: chocolate;
    justify-content: space-evenly;
    border-radius: 10px;
}

.hero__slogan{
    font-size: 1.5rem;
}
.hero__info {
    background-color: darkcyan;
    margin: 0 1.5rem;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 20px;
    border-radius: 10px;
}

.info{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
}
.infosection{
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    width: 27rem;
}

.infosection__img{
    display: inline-block;
    height: 400px;
    width: 400px;
    overflow: hidden;
    margin: 1rem;
}


/*FINALIZA EL MAIN DEL INDEX*/


/*INCIA PROYECTO*/
.info__proyecto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding-top: 1rem;
}
.section__proyecto{
    text-align: center;
}

.sectionproyecto__img{
    height: 300px;
    width: 300px;
    padding: 1rem;
}

.proyecto__pie {
    margin: 2rem;
    padding: 2rem;
    background-color: darkcyan
}

/*FINALIZA PROYECTO*/


/* INICIA NOSOTROS */
.info__nosotros{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.div__nosotros {
    padding: 1rem;
    align-self: center;
    background-color: darksalmon;
}

.section__nosotros {
    padding: 1rem;
}
.sectionnosotros__img {
    height: 350px;
}

/*FINALIZA NOSOTROS*/

/*INICIA PROPUESTA*/
.main__propuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.propuesta{
    padding: 2rem;
    display: inline;
    text-align: center;
}

.info__propuesta{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
    padding-top: 2rem;
}

.section__propuesta{
    padding: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: darksalmon;
    margin: 1rem;
}

.sectionpropuesta__img{
    height: 400px; 
    width: 400px;
    max-width: 100%;
}

.propuesta__pie{
    text-align: center;
    width: 500px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem; 
}

/*FINALIZA PROPUESTA*/


/* INCIA CONTACTO */

.contacto{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "contacto__izquierdo contacto__derecho";
    align-items: start;
    gap: 1rem;
    margin: 3rem;
    justify-items: center;
}
    
.contacto__izquierdo{
    grid-area: contacto__izquierdo;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    width: 25rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.contacto__derecho{
    grid-area: contacto__derecho;
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
    padding: 1rem;
}

input[type="text"]{
    height: 30px;
}
input[type="email"]{
    height: 30px;
}

/* FINALIZA CONTACTO*/


/*INCIA EL FOOTER*/
.footer{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    text-align: center;
    align-content: stretch;  
}
.footer--gradiente{
    background: rgb(22,98,166);
    background: linear-gradient(0deg, rgba(22,98,166,1) 41%, rgba(0,212,255,1) 100%);
}

.footer__izquierdo,.footer__centro, .footer__derecho {
    padding: 1rem;  
}

.footer__nav{
    margin: 0rem;
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: white;
}

.footer__item, .footer__icono{
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
}

.footer__anchor{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.pagos__img{
    height: 250px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FINALIZA EL FOOTER*/


/* MEDIA QUERIS */
@media only screen and (min-width: 0px) and (max-width: 320px) {
    .header{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header__logo{
        position: relative;
        top: 2px;
        left: 0px;
    }

    .header__list {
        position: relative;
        left: 30px;
    }

    .hero{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
    }

    .hero__info{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        position: relative;
        left: 3px;
    }

    .info{ 
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .infosection{
        display: flex;
        margin: 10px 0 10px 0;
        overflow: hidden;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .infosection__img{
        height: 300px;
        width: 300px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        overflow: hidden;
        max-width: 96%;
    
    }
    .footer__izquierdo, .footer__centro, .footer__derecho {
        padding: 0rem;
    }

    .footer__nav{
        padding: 0px;
    }

    .pagos__img {
        height: 140px;
    }

    .info__proyecto{
        display: flex;
        flex-direction: column;
    }

    .info__nosotros {
        display: flex;
        flex-direction: column;
    }

    .section__nosotros{
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }
    .info__propuesta{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .sectionpropuesta__img {
        height: 250px;
        max-width: 100%;
    }
    .propuesta__pie{
        text-align: center;
        width: 286px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1rem;
        overflow: hidden;
        
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .contacto__izquierdo{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        font-size: 1.2rem;
        line-height: 1.5;
        width: 250px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px){
    .header{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        height: 100%;
    }
    .header__div {
        height: 25vh;
    }
    .header__logo {
        height: 200px;
        position: relative;
        left: 5px;
        margin: 0;
    }
    .header__nav{
        margin: 0;
    }
    .header__list {
        display: flex;
        width: -16vw;
        font-size: 0px;
        flex-direction: column;
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    
    }
    .hero__wraper {
        margin: 10px;
    }
    .hero__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 0px;
        margin: 10px;
        justify-items: center;
        width: 100%;
        border-radius: 10px;
    }
    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        flex-wrap: wrap;
        align-content: center;
        
    }
    .infosection {
        width: 18rem;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer__nav {
        margin: 0rem;
        text-align: center;
        align-self: center;
        text-decoration: none;
        color: white;
        padding: 1rem;
    }
    .pagos__img {
        height: 140px;
    }
    .info__proyecto{
        display: flex;
        flex-direction: column;
    }
    .info__nosotros {
        display: flex;
        flex-direction: column;
    }
    .div__nosotros {
        margin: 20px;
        align-self: center;
        background-color: darksalmon;
        padding: 20px;
    }
    .section__nosotros{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
    }
    .sectionnosotros__img {
        max-width: 400px;
        margin-bottom: 7px;
    }
    .main__propuesta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .info__propuesta {
        display: flex;
        padding-top: 2rem;
        flex-direction: column;
    }
    .propuesta__pie {
        text-align: center;
        width: 450px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .contacto {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
        height: 10rem;
    }
    .header__logo {
        height: 130px;
        position: relative;
        left: 1px;
    }
    .header__nav {
        text-align: center;
        margin-right: 1rem;
    }
    .header__anchor{
        font-size: 1rem;
    }
    .hero {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 30vh;
        width: 100%;
    }
    .hero__info {
        margin: 0 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .infosection {
        display: flex;
        flex-direction: column;
        width: 36%;
        margin-top: 50px;
        align-items: flex-start;
    }
    .infosection__img {
        max-width: 100%;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
    }
    .footer__nav {
        margin: 0rem;
        text-align: center;
        align-self: center;
        text-decoration: none;
        color: white;
        padding: 1rem;
    }
    .pagos__img {
        height: 150px;
    }
    .info__proyecto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
        padding-top: 1rem;
    }
    .info__nosotros {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .section__nosotros {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .propuesta {
        padding: 2rem;
        display: inline;
        text-align: center;
        font-size: 2rem;
    }
    .info__propuesta {
        display: flex;
        padding-top: 2rem;
        flex-direction: column;
    }
    .contacto {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "contacto__izquierdo contacto__derecho";
        align-items: center;
        gap: 1rem;
        margin: 3rem;
        justify-items: center;
    }
    .contacto {
        align-items: center;
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 15rem;
    } 
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        justify-items: center;
        margin-bottom: 20px;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        font-size: 1.5rem;
    }
    .footer__izquierdo{
        padding: 1rem;
    }
    .pagos__img {
        height: 190px;
    }
    .info__proyecto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
        padding-top: 1rem;
    }
    .main__nosotros {
        font-size: 2rem;
    }
    .info__nosotros {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section__nosotros {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .sectionnosotros__img {
        width: 80vw;
    }
    .propuesta {
        padding: 2rem;
        display: inline;
        text-align: center;
        font-size: 2rem;
    }
    .info__propuesta {
        display: flex;
        padding-top: 2rem;
        flex-direction: column;
    }
    .section__propuesta {
        padding: 2rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        font-size: 2rem;
    }
    .sectionpropuesta__img {
        height: 500px;
        width: 500px;
    }
    .propuesta__pie {
        text-align: center;
        width: 40rem;
        height: 14rem;
        display: flex;
        margin-bottom: 1rem;
        align-items: inherit;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacto {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "contacto__izquierdo contacto__derecho";
        align-items: start;
        gap: 1rem;
        margin: 2rem;
        justify-items: center;
    }
    .contacto__izquierdo {
        grid-area: contacto__izquierdo;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 25rem;
        font-size: 1.2rem;
        line-height: 1.5;
    }



}