.nosotros{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    &__div{
        padding: 1rem;
        align-self: center;
        background-color: chocolate;
    }
    &__section{
        overflow: hidden;
        max-width: min-content;
    }
    &__img {
        height: 350px;
    }
}
