.info{
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
}
.infosection{
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    width: 27rem; 
    &__img{
        display: inline-block;
        height: 350px;
        width: 350px;
        overflow: hidden;
        object-fit: cover;
        
    }


}